
<html>
<head>
  <title>News</title>


  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js">
 </script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js">

  </script>



  <script src="app.js"></script>


</head>
<body ng-app="News">

<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
  <li class="active"><a class="nb-item" href="index.html#/home">Home</a></li>
  <li><a class="nb-item" href="index.html#/food">Food</a></li>
  <li><a class="nb-item" href="index.html#/moreFood">More Food</a></li>
</ul>
</div>
</div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Home</h1>
    </div>

    <p>Welcome to this site. We will show food.</p>

  </script>

  <script type="text/ng-template" id="/moreFood.html">
    <div class="page-header">
      <h3>
          More Food
      </h3>
    </div>

    <p>On this page we will see more food</p>

    <form ng-submit="addMoreFood()" style = "margin-top30px;">
    Write Something about the food:<input type="text" ng-model="formContent"></input>
    <br>
    Add an image of the food:<input type="text" ng-model="image"></input>
    <br>
    <button type="submit">Food!</button>
  </form>

  <div ng-repeat="foo in moreFood | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(foo)"></span>
    {{foo.title}} - upvotes: {{foo.upvotes}}
    <img src='{{foo.image}}'>
  </div>
    

  </script>

  <script type="text/ng-template" id="/food.html">
    <div class="page-header">
      <h2>Food!</h2>
    </div>

    <p>This is to make sure that this works</p>

    <form ng-submit="addFood()" style = "margin-top30px;">
    Write Something about the food:<input type="text" ng-model="formContent"></input> 
    <br>
    Add an image of the food:<input type="text" ng-model="image"></input>
    <br>
    <button type="submit">Food!</button>
  </form>

  <div ng-repeat="foo in food | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(foo)"></span>
    {{foo.title}} - upvotes: {{foo.upvotes}}
    <img src='{{foo.image}}'>
  </div>

  </script>
</body>
</html>