.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }
/*
  #navbar {

  	width: 100%;
  	background-color: tan;
  }

  .nb-item {
  	height: 30px;

  }
  */